.vscode/**
.vscode-test/**
src/**
out/**
test_cpp/**
node_modules/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
*.ply
*.csv
*.vsix
esbuild.js
index.html
vscode-app-*.log
assets/**
!assets/icon.png
